.buttonForm {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
}
.buttonBox {
  margin-top: 1rem;
  text-align: center;
}

.inputControl {
  color: white;
}
.filebase {
  color: white;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input input {
  color: white;
}
