.task-card {
  padding: 1.5rem;
  margin: 1rem;
}
.task-card-content{
    height: 80%;
    
}
.task-card-text{
    height: 100%;
    
}
.task-card-content{
    height: 80%;
    width: 80%;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 1rem;
      
}
.taskData-description {
  overflow: hidden;
}
.taskData-description::-webkit-scrollbar {
  width: 8px;
}

.taskData-description::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.taskData-description::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}
.taskData-info {
    height: 93%;
    white-space: pre-wrap;
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  .taskData-info::-webkit-scrollbar {
    width: 3px;
  }
  
  .taskData-info::-webkit-scrollbar-thumb {
    background-color: #c89b3f;
    border-radius: 5px;
  }
  
  .taskData-info::-webkit-scrollbar-track {
    background-color: rgba(194, 122, 190, 0.2);
    border-radius: 5px;
  }
  

